.product-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-container {
  width: 90vw;
  height: fit-content;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
