.product-item-card {
  width: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.product-image-wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  background-color: var(--color-background-secondary);
  position: relative;
}

.like-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-background-primary);
  border: 0.5px solid var(--color-border-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  z-index: 100;
  color: var(--color-text-secondary);
  font-size: 15px;
}

.product-info {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  margin-left: auto;
  color: var(--muted-foreground);
  margin-right: auto;
  flex-direction: column;
  gap: 10px;
}
.product-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price {
  font-size: 13px;
  color: var(--color-text-secondary);
  margin: 0;
}
.card-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.cart-add-btn {
}
