.promotion-card {
  width: 90vw;
  height: 300px;
  background-color: var(--card);
  color: var(--card-foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-xl);
  padding: 2.5rem;
  background-image: url("../../../public/promotions2F-OPK8S5qIX8srqDx7zHm.webp");
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
}
